<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login & Registration Form</title>
    <!---Custom CSS File--->
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <div class="container">
        
        <div class="login form">
            <header>Login</header>
            <form action="/login" method="post">
                <div class="field">
                    <input type="text" placeholder="Enter your email" name="loginCredential">
                    <% if (error?.userNotFound) { %>
                        <div class="login-error"><%= error.userNotFound %></div>
                        <% } %>
                </div>
                <div class="field">
                    <input type="password" placeholder="Enter your password" name="loginPassword">
                    <% if (error?.incorrectPass) { %>
                        <div class="login-error"><%= error.incorrectPass %></div>
                        <% } %>
                    </div>
                <a href="#">Forgot password?</a>
                <input type="submit" class="button" value="Login">
                <div class="signup">
                    <span class="signup">Don't have an account?
                        <a href="/signup">Sign Up</a>
                    </span>
                </div>
            </form>
        </div>
    </div>
</body>

</html>